.home-page {
  background-image: url("/img-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(249, 249, 249);
}
