body,
html {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* The main wrapper that holds everything  */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 30px 40px;
  border: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  height: 40%;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.wrapper h1 {
  font-size: 28px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid wheat;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 20px 45px 20px 20px;
}

.wrapper .input-box ::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 40%;

  font-size: 18px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px, 0, 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}
.remember-forgot:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  border: none;
  height: 45px;
  background-color: #df713c;

  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  margin-top: 15px;
}
